
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>This is WebApplication1.Areas.LearningHtml5Css3.Controllers</h1>
</body>
</html>
