<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Learn06(Area)</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/SiteStyles.css" rel="stylesheet" />
    <style>
    [v-cloak] {
        display: none;
    }

    div.card {
        opacity: 0.8;

        transition-delay:0s;
        transition-duration:200ms;
        transition-property:transform,opacity;
        transition-timing-function:ease-in-out;
        
    }

    div.card:hover {
       opacity:1.0;
       transform:scale(1.1);
    }

  </style>
</head>

<body>
    <h3>learnig cards in boot strap v.4 </h3>
    <hr />
   <div class="container">
       <div class="row">

           <div class="col-sm-3">
               <div class="card text-center bg-info border-secondary m-3">
                   <img src="~/Areas/LearningHtml5Css3/Content/Image/Koala.jpg" class="card-img-top" alt="card title" />

                   <div class="card-header">
                       card header
                   </div>

                   <div class="card-body">
                       <h5 class="card-title">
                           card title
                       </h5>

                       <p>
                           card content
                       </p>

                       <a href="#" class="btn btn-secondary">Use [card-link] class</a>
                   </div>

                   <div class="card-footer">
                       card description
                   </div>
               </div>
           </div>

           <div class="col-sm-3">
               <div class="card text-center bg-info border-secondary m-3">
                   <img src="~/Areas/LearningHtml5Css3/Content/Image/Koala.jpg" class="card-img-top" alt="card title" />

                   <div class="card-header">
                       card header
                   </div>

                   <div class="card-body">
                       <h5 class="card-title">
                           card title
                       </h5>

                       <p>
                           card content
                       </p>

                       <a href="#" class="btn btn-secondary">Use [card-link] class</a>
                   </div>

                   <div class="card-footer">
                       card description
                   </div>
               </div>
           </div>

           <div class="col-sm-3">
               <div class="card text-center bg-info border-secondary m-3">
                   <img src="~/Areas/LearningHtml5Css3/Content/Image/Koala.jpg" class="card-img-top" alt="card title" />

                   <div class="card-header">
                       card header
                   </div>

                   <div class="card-body">
                       <h5 class="card-title">
                           card title
                       </h5>

                       <p>
                           card content
                       </p>

                       <a href="#" class="btn btn-secondary">Use [card-link] class</a>
                   </div>

                   <div class="card-footer">
                       card description
                   </div>
               </div>
           </div>

           <div class="col-sm-3">
               <div class="card text-center bg-info border-secondary m-3">
                   <img src="~/Areas/LearningHtml5Css3/Content/Image/Koala.jpg" class="card-img-top" alt="card title" />

                   <div class="card-header">
                       card header
                   </div>

                   <div class="card-body">
                       <h5 class="card-title">
                           card title
                       </h5>

                       <p>
                           card content
                       </p>

                       <a href="#" class="btn btn-secondary">Use [card-link] class</a>
                   </div>

                   <div class="card-footer">
                       card description
                   </div>
               </div>
           </div>

           <div class="col-sm-3">
               <div class="card text-center bg-info border-secondary m-3">
                   <img src="~/Areas/LearningHtml5Css3/Content/Image/Koala.jpg" class="card-img-top" alt="card title" />

                   <div class="card-header">
                       card header
                   </div>

                   <div class="card-body">
                       <h5 class="card-title">
                           card title
                       </h5>

                       <p>
                           card content
                       </p>

                       <a href="#" class="btn btn-secondary">Use [card-link] class</a>
                   </div>

                   <div class="card-footer">
                       card description
                   </div>
               </div>
           </div>

           <div class="col-sm-3">
               <div class="card text-center bg-info border-secondary m-3">
                   <img src="~/Areas/LearningHtml5Css3/Content/Image/Koala.jpg" class="card-img-top" alt="card title" />

                   <div class="card-header">
                       card header
                   </div>

                   <div class="card-body">
                       <h5 class="card-title">
                           card title
                       </h5>

                       <p>
                           card content
                       </p>

                       <a href="#" class="btn btn-secondary">Use [card-link] class</a>
                   </div>

                   <div class="card-footer">
                       card description
                   </div>
               </div>
           </div>
       </div>
   </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/vue.js"></script>

    <script>

       

        ////best practice
        //const app = new Vue({

        //    el: `#app`,

        //    data: {

        //    },

        //    methods: {



        //    },

        //    computed: {




        //    },

        //    created: function () {


        //    },
        //})


    </script>
</body>

</html>
