<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Learn22</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/SiteStyles.css" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none;
        }

        .fade-enter{
           
            opacity:0.2;
        }

        .fade-enter-active{
            transition:all 1000ms;
        }

        .fade-leave-to{
           
            opacity:0.2;
        }

        .fade-leave-active{
            transition:all 2000ms;
        }

        /*the above form of css can be write in below form*/
        /*.fade-enter-active .fade-leave-active{
             transition:opacity 2000ms;
        }

        .fade-enter .fade-leave-to{
             opacity:0;
        }*/

    </style>
</head>

<body>
    <div id="app" class="container" v-cloak>
        <h2>Learning animations in Vue.js 2</h2>
        <button type="button" class="btn btn-primary" v-on:click="toggele()">Toggel</button>
        <br />
        <br />
        <hr />
        <div class="card-columns">
            <transition name="fade">
                <div class="card text-center bg-warning" v-show="show">
                    <div class="card-header">
                        <h5>Header</h5>
                    </div>
                    <div class="card-body">
                        <h5>Body</h5>
                    </div>
                    <div class="card-footer">
                        <h5>Footer</h5>
                    </div>
                </div>
            </transition>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/vue.js"></script>

    <script>



        //best practice
        const app = new Vue({

            el: `#app`,

            data: {
                show: false,
            },

            methods: {
                toggele: function () {
                    this.show = !this.show
                },

            },

            computed: {




            },

            created: function () {


            },
        })


    </script>
</body>

</html>
