<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Learn29</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/SiteStyles.css" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" class="container" v-cloak>
        <h2>Learning conecting to Backend with input value and Creating Loading with BootStrap Modal in Vue.js </h2>
        <hr />
        <div v-if="loading" class="text-danger">
            <h5>
                Please Wait, Loading...
            </h5>
        </div>
        <div v-if="dataFrontEnd">
            <h5>
                {{ dataFrontEnd }}
            </h5>
        </div>
        <hr />
        First Name :
        <br />
        <input type="text" v-model="person.firstName"  />
        <br />
        Last Name :
        <br />
        <input type="text" v-model="person.lastName"  />
        <hr />
        <button type="button" class="btn btn-primary text-center" v-on:click="doSomeThing()" >Show By Post</button>
        

        <!-- Modal -->
        <div id="LoadingModal" class="modal " tabindex="-1" role="dialog" >
            <div class="modal-dialog " role="document">
                <div class="modal-content text-center">
                    <div class="modal-header">
                        <h5 class="modal-title text-danger text-center">
                            Please Waite
                        </h5>
                       
                    </div>
                    <div class="modal-body text-danger" >
                        <div class="spinner-border text-danger " role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <script>



        //best practice
        const app = new Vue({

            el: `#app`,

            data: {

                dataFrontEnd: null,
                
                person: {
                    firstName: null,
                    lastName: null,

                },
            },

            created: function () {


            },

            methods: {

                doSomeThing: function () {
                    this.dataFrontEnd = null

                    $(`div#LoadingModal`).modal({ backdrop: false, keyboard: false, })

                    let url = "/Home/ShowInformation"
                    let postData = this.person
                    axios.post(url, postData)

                        .then(response => {

                            console.log(response)
                            this.dataFrontEnd = response.data.BackEndData
                        })
                        .catch(error => {

                            console.clear()
                            console.error(error)

                        })
                        .finally(() => {
                            $(`div#LoadingModal`).modal(`hide`) 
                        })

                },



            },

            computed: {




            },


        })


    </script>
</body>

</html>
